.preferences {
  &__textinput {
    display: flex;
    align-items: center;
    margin-bottom: 1.5em;
  }

  &__inline {
    display: inline;
  }

  &__input {
    margin-left: 2em;
    width: 300px;
  }

  &__switch {
    margin-left: 20px;
  }

  &__select {
    margin-left: 10px;
  }

  &__times {
    display: flex;
    flex-direction: row;
  }

  &__selectdays {
    display: flex;
    flex-direction: row;
    align-items: center;

    &__select {
      display: inline;
    }

    &__mode {
      margin-left: 20px;
      display: inline;
    }
  }

  &__buttonflex {
    display: flex;
    margin-top: 1.5em;

    &__button {
      border-color: #78be20;
      background-color: #78be20;
      color: white;
      &:hover {
        border-color: #68ae10;
        background-color: #68ae10;
        color: white;
      }
    }
  }
}
