.login {
  &__text {
    margin-bottom: 1em;
  }

  &__flex {
    display: flex;
  }

  &__labels {
    display: flex;
    flex-direction: column;
    width: 100px;
    height: 150px;
    justify-content: space-evenly;
  }
  
  &__fields {
    display: flex;
    flex-direction: column;
    width: 320px;
    height: 150px;
    justify-content: space-evenly;
  }

  &__subheader {
    font-size: 1.5em;
    margin-bottom: 1em;
  }

  &__input {
    width: 320px;
  }

  &__forgot_password {
    font-size: 0.8em;
    margin-top: 1.5em;
    margin-bottom: .5em;
    &:hover {
      color: #1890ff;
    }
  }

  &__button {

    &--blue {
      border-color: #1890ff;
      background-color: #1890ff;
      color: white;
      &:hover {
        border-color: #0880ef;
        background-color: #0880ef;
        color: white;
      }
    }

    &--green {
      border-color: #78be20;
      background-color: #78be20;
      color: white;
      &:hover {
        border-color: #68ae10;
        background-color: #68ae10;
        color: white;
      }
    }
  }
}
